@use '@app_styles/default-dimensions' as default-dimensions;
@use '@app_styles/colors' as colors;
@use '@app_styles/colors-alt' as colors-alt;
@use '@app_styles/breakpoints' as breakpoints;
@use '@app_styles/animations' as animations;

$drawer-padding-block: 36px;

$nav-link-padding: 10px;
$nav-link-border-radius: 24px;
$nav-link-item-container-padding-inline: 13px;

$nav-accordion-content-padding-left: 8px;

.navigation-drawer {

    display: flex;
    flex-direction: column;
    row-gap: 12px;

    // position: absolute;
    position: fixed;
    left: 0;
    top: default-dimensions.$header-height;
    bottom: 0;

    z-index: 30;

    background-color: colors-alt.$light-bg-blue-secondary;

    transition: 0.2s all;

    padding-block: $drawer-padding-block;

    user-select: none;

    /* ----- TOP SECTION -- hidden by default -------- */
    .navbar-top-container {
        display: none;

        height: default-dimensions.$logo-main-height-default;
        width: 100%;

        padding-inline: $nav-link-item-container-padding-inline;

        .logo-main-container {
            height: 100%;

            >img {
                height: 100%;
                object-fit: contain;
            }
        }
    }


    /* ----------- NAV-LINKS - LIST --------------- */
    .navigation-drawer-list {

        padding-inline: $nav-link-item-container-padding-inline;

        /* -------- generic styling for list items --------- */
        li,
        & .nav-link-item-container,
        & .nav-accordion-header-item-container,
        & li {

            display: flex;
            align-items: center;
            // justify-content: center;
            // padding-inline: $nav-link-item-container-padding-inline;


            a,
            p {
                text-transform: capitalize;

                display: flex;
                align-items: center;
                // justify-content: center;
                gap: 12px;

                padding: $nav-link-padding;
                border-radius: $nav-link-border-radius;

                color: colors.$text-dark-secondary;

                .nav-link-icon {
                    display: inline-flex;
                    width: 24px;
                    height: 24px;

                    object-fit: contain;
                    overflow: hidden;

                    >img {

                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

            }

            a.selected {
                background-color: colors-alt.$light-accent-tertiary;
                color: colors.$text-dark;
            }

            a:hover:not(.selected),
            p:hover {
                background-color: colors-alt.$light-bg-blue-primary;
            }

        }

        /* ---------specific styling for accordions --------- */
        .accordion-container {

            // for the psuedo list item inside accordion
            .nav-accordion-header-item-container {

                .accordion-header {
                    flex-direction: column;
                    row-gap: 5px;

                    cursor: pointer;
                    // border: 1px solid colors.$text-dark-tertiary;

                    .accordion-action {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        color: colors.$text-dark-tertiary !important;

                        width: 16px;
                        height: 16px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                        svg {
                            width: 100%;
                            height: 100%;
                            object-fit: fill;
                        }
                    }
                }
            }

            &.isOpen {
                // border: 0.5px solid colors.$text-dark-tertiary;
                // border-radius: $nav-link-border-radius;
            }
        }
    }

}

.navigation-drawer.closed {
    width: default-dimensions.$navigation-drawer-width-closed;

    /* & .nav-link-title {        
        display:none;
    } */

}


.navigation-drawer.open {

    width: default-dimensions.$navigation-drawer-width-opened;
    // border-right: 1px solid colors.$text-dark-tertiary;

    .navigation-drawer-list {

        & li {

            a,
            p {

                width: 100%;
                justify-content: start;
            }
        }
    }

    .accordion-container {

        .nav-accordion-header-item-container {

            .accordion-header {
                flex-direction: row !important;

                position: relative;

                & .accordion-action {
                    position: absolute;
                    right: $nav-link-item-container-padding-inline;
                }
            }

            /* ---- accordion is open for an open drawer ------- */
            
        }

        &.isOpen {
    
                .accordion-content {
                padding-left: $nav-accordion-content-padding-left;
            }
        }            
    }
}



/* -------------------------- BREAKPOINTS -------------------- */

@media (max-width: breakpoints.$large-screen-min-width) {

    .navigation-drawer {

        top: 0;
    }

    .navigation-drawer.closed {
        
        width: default-dimensions.$navigation-drawer-width-opened-wider;
        overflow: hidden;

        transform: translateX(-100%);
    }

    .navigation-drawer.open {

        transform: translateX(0);

        width: default-dimensions.$navigation-drawer-width-opened-wider;
        z-index: 200;

        .navbar-top-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    /* -------- BACKDROP (only rendered on open small screen) -----------*/
    
    .backdrop {
        position: fixed;
        z-index: 190;

        top: 0; 
        bottom: 0;
        right: 0;
        left: 0;

        background-color: colors-alt.$light-shadow;

        @include animations.fade-in();
        
    }
}