@use '@app_styles/default-dimensions' as default-dimensions;
@use '@app_styles/fonts' as fonts;
@use '@app_styles/colors-alt' as colors-alt;


#transactions-page {

    .page-contents-wrapper {

        max-width: (default-dimensions.$route-page-content-wrapper-max-width + 124px);
        height: inherit;

        row-gap: 12px;
    
        .page-masthead {
            margin: 0 !important;            
            margin-top: default-dimensions.$route-page-header-margin-top - 12px !important;            
            
            .page-title {
                font-size: fonts.$title-large-size;
                font-weight: 600;
            }
        } 

    }
}

