@use '@dashboard_styles/dashboard-card' as card;
@use '@app_styles/breakpoints' as breakpoints;
@use '@app_styles/colors' as colors;
@use '@app_styles/fonts' as fonts;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');



.dashboard-card,
.dashboard-card-skeleton {    
    @extend %dashboard-card-base;
}

.dashboard-card,
.dashboard-card-skeleton {
    
    display: flex;
    flex-direction: column;
    row-gap: 20px;    

    .card-header,
    .card-header-skeleton {

        .title {
            text-transform: uppercase;
            color: colors.$text-dark !important;

            font-size: fonts.$title-default-size;
            letter-spacing: calc(0.1vw + 4px);
        }

        .timeframe-details {
            margin-top: 8px !important;
            font-size: fonts.$text-large-size;
            text-transform: capitalize;
        }
    }

    .card-details,
    .card-details-skeleton {

        display: flex;
        // column-gap: clamp(5px, 1vw, 15px);

        /* padding: 0 12px; */
        padding-inline: clamp(0px, 0.5vw, 12px);

        justify-content: space-between;

        position: relative;

        font-family: 'Noto Sans Mono' !important;
        color: var(--text-dark);

        width: 100% !important;
        height: inherit;
        flex: 1;

        justify-content: center;
        align-items: center;
        width: fit-content;
        position: relative;

        /* --- THE ACTUAL UI --- */
        .defaultCurrency {
            font-size: 24px;
            cursor: default;
            font-family: 'Noto Sans Mono' !important;
            padding-top: 20px;

            align-self: first baseline;

            >span {
                display: flex;
                align-items: center;
                justify-content: center;

                font-size: inherit;

                width: 40px !important;
                aspect-ratio: 1 !important;
                min-width: 40px !important;

                /* padding: 4px; */
                border-radius: 50%;
            }
        }

        .amount-container {
            font-size: 72px;
            font-weight: 300;
            letter-spacing: 1.12;
            font-family: 'Noto Sans Mono' !important;

            position: relative;
            
            .insights-chip-skeleton, .insights-chip {
                position: absolute;
                width: 60px !important;
                height: 30px;
                top: -10px;
                right: -5px;
            }
            .insights-chip {  
                                
                /* left: 65%; */
                right: 0%;
                text-wrap: nowrap;
                display: flex;
                align-items: center;
                gap: 10px;

                font-size: 14px;

                width: fit-content !important;
                height: fit-content !important;

                background-color: var(--color-primary-light);
                border-radius: 12px;
                padding: 4px 8px;

          
                > span {
                    color: var(--white);
                    font-weight: 600;
                }
            }


        }


    }

    .card-details-skeleton {
        padding: 0 !important;

        /* ----SKELETONS----- */

        .defaultCurrency-skeleton {
            height: 30px;
            width: 60px !important;
            max-width: 60px !important;
            align-self: first baseline;
        }

        .amount-skeleton {
            height: 70% !important;
            flex-grow: 1 !important;
        }

        .insights-chip-skeleton {
            position: absolute;
            width: 60px !important;
            height: 30px;
            top: -35px;
            right: 0px;
        }

    }
}

@media screen and (width < 440px) {
    
        .dashboard-card {                        

            .card-details {

                .amount-container {
                    font-size: 54px !important
                }
            }
        }
}

@media screen and (min-width: breakpoints.$mobile-min-width) and (max-width: breakpoints.$large-screen-min-width){
    .dashboard-card {
        max-width: none !important;
        width: 100% !important;
    }
}