$bg-light: #F6F8FC;

$bg-dark: #000321;

$bg-light-grey: #dae2f4;


$color-primary: #335dda;
$color-primary-light: #4d6bc5;
$color-secondary: #2f4379;

$accent-color: #547bef;

$shadow-black: #0202022e;
$shadow-dark-accent: #001e6f86;
$shadow-white: #ffffffbb;

$black: #222;
$text-dark: #313131;
$text-dark-secondary: #444;
$text-dark-tertiary: #5c5c5ce5;

$white: #fff;

$disabled-text: #c9c9c9;

$skeleton-white: #ffffff55;

$income-green: #009951;
$expenditure-red: #C00F0C;