$light-accent-active-bg: #d5ddf0;
$light-acccent-actve: #174eae; 

$light-accent-active-bg-alt: #D3E3FD;

$light-accent-primary: #335dda; 
$light-accent-secondary: #edf5fd;
$light-accent-tertiary: #d5ddf0;

$light-accent-strong: #174eae;
$light-accent-neutral: #4d6bc5;
$light-accent-mild: #D2E3FC;

/* ------------------------------- */

$light-bg-blue-primary: #eaf0f9; 
$light-bg-blue-secondary: #f8fafd; 
$light-bg-blue-tertiary: #F7F9FD;
$light-bg-blue-alt: #F3F6Fc;
$light-bg-grey: #f2f2f2;
$light-bg-main: #fff;


/* --------------------------------- */
$light-shadow: #0202022e;

/* ------------------------------- */

$text-accent-blue: #1967d2;


/* ------------------------- */
$light-scrollbar-grey: #939393;
$light-scrollbar-grey-hover: #656565e5;