
$header-height: 65px;
$main-height: calc(100vh - #{$header-height});
$logo-main-height-default: 50px;

$page-masthead-height: 50px;

$navigation-drawer-width-closed: 72px;
$navigation-drawer-width-opened: 200px;
$navigation-drawer-width-opened-wider: 300px;

$route-page-content-wrapper-max-width: 984px;
$route-page-content-row-gap: 24px;
$route-page-header-margin-top: 24px;


$scrollbar-width: 12px;