@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');



$title-default-size: 18px;
$title-large-size: 24px;

$text-large-size: 16px;
$text-default-size: 14px;
$text-small-size: 12px;



/* ----------------------------------------------------- */

$default-font-family: 'Roboto';
$default-mono-font-family: 'Noto Sans Mono';