.balance-card {
    max-width: 640px;
    width: inherit !important;
    min-width: 350px !important;
    height: 250px;

    background-image: linear-gradient(to bottom right,
        var(--color-primary) 50%,
        var(--accent-color)
    ); 

    box-shadow: 0 10px 20px -10px var(--color-primary);

    align-items: center;

    .card-header, .card-header-skeleton {
        align-self: flex-start;
    }

    padding: 12px;

    .card-header, .card-header-skeleton>.title, .card-header>.title {         
        color: var(--white) !important;
    }

    .card-details, .card-details-skeleton {
        justify-content: center;
        align-items: center;
        width: fit-content;
        position: relative;

        .defaultCurrency {
            /* padding-right: 14px; */
            padding-top: 20px;

            font-size: 36px;
            >span {
                font-weight: 100;
                color: var(--white);
            }

            align-self: first baseline;
        }
        .amount-container {
            color: var(--white) !important;
            font-size: 112px;

            animation: slideUp 0.1s ease 1
        }
    }

    .card-details-skeleton {
        & div[class="ant-skeleton-content"] {

            h3 {
                background-color: var(--skeleton-white) !important;
            }
        }
    }
}
.balance-card:hover {
    box-shadow: 0 10px 50px -7px var(--color-primary) !important;
}

.dashboard-card-skeleton.balance-card {

    max-width: 640px;
    height: 250px;

    background-image: linear-gradient(to bottom right,
        var(--color-primary) 50%,
        var(--accent-color)
    ); 

    box-shadow: 0 10px 20px -10px var(--color-primary);

    .card-header-skeleton {
        color: var(--white) !important; 
    }
}

@keyframes slideUp {
    from {
        transform: translateY(50px);
        opacity: 50%;
    }
    to {
        transform: translateY(0);
        opacity: 100%;
    }
}
@keyframes slideDown {
    from {
        transform: translateY(-50px);
        opacity: 0%;
    }
    to {
        transform: translateY(0);
        opacity: 100%;
    }
}

@media screen and (width < 600px) {
    
    #balance_card {        
        .card-details {
            .amount-container {
                font-size: clamp(72px, 17vw, 100px) !important;
            }

            .defaultCurrency {
                padding-right: 0 !important;
            }
        }
    }
}
@media screen and (width < 470px) {
    
    #balance_card {
        .card-details {
            column-gap: 4px !important;

            .amount-container {
                font-size: clamp(54px, 16vw, 72px) !important;
            }

            .defaultCurrency {
                padding-right: 0 !important;
                font-size: 30px !important;
            }
        }
    }
}