#balance_card {
    max-width: 640px;
    height: 250px;

    background-image: linear-gradient(to bottom right,
        var(--color-primary) 50%,
        var(--accent-color)
    ); 

    box-shadow: 0 10px 20px -10px var(--color-primary);

    align-items: center;

    .card-header {
        align-self: flex-start;
    }

    padding: 12px;

    .card-details {
        justify-content: center;
        align-items: center;
        width: fit-content;
        position: relative;

        .defaultCurrency {
            /* padding-right: 14px; */
            padding-top: 20px;

            font-size: 36px;
            >span {
                font-weight: 100;
                color: var(--white);
            }

            align-self: first baseline;
        }
        .amount {
            color: var(--white) !important;
            font-size: 112px;

            animation: slideUp 0.1s ease 1
        }
    }
}
.balance-card:hover {
    box-shadow: 0 10px 50px -7px var(--color-primary) !important;
}

@keyframes slideUp {
    from {
        transform: translateY(50px);
        opacity: 50%;
    }
    to {
        transform: translateY(0);
        opacity: 100%;
    }
}
@keyframes slideDown {
    from {
        transform: translateY(-50px);
        opacity: 0%;
    }
    to {
        transform: translateY(0);
        opacity: 100%;
    }
}

@media screen and (width < 540px) {
    
    #balance_card {
        .card-details {
            .amount {
                font-size: 100px !important;
            }

            .defaultCurrency {
                padding-right: 0 !important;
            }
        }
    }
}
@media screen and (width < 420px) {
    
    #balance_card {
        .card-details {
            column-gap: 4px !important;

            .amount {
                font-size: 84px !important;
            }

            .defaultCurrency {
                padding-right: 0 !important;
            }
        }
    }
}