#dashboard-page {    

    padding:24px 12px;
    position: relative;

    height: fit-content;
    min-height: var(--main-height);

    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: 24px;
    
    .page-contents-wrapper {
        
        display: flex;
        flex-direction: column;
        align-items: center;
    
        row-gap: 24px;

        max-width: inherit;
        max-width: 924px;


        .transaction-cards-container {
            width: 100%;
            display: flex;
            justify-content: center ;
            align-items: center;
            flex-wrap: wrap;
    
            gap: 32px;  
    
            .income-expenditure-container {
                flex: 1;
                display: flex;
                gap: 18px;
                justify-content: inherit;
    
            }
        }
    
        .add-txn-button {
            width: 50px;
            height: 50px;
            background-color: var(--color-primary);
            >span {
                color: var(--white)
            }
    
            position: fixed;
            bottom: 24px;
            right: 12px;
    
            box-shadow: 0 15px 15px -5px var(--shadow-dark-accent);
            border: none;
            
            transition: transform 0.25s;
        }
        .add-txn-button:hover {
            transform: scale(1.15)
        }
        .add-txn-button.discard {
            transform: rotate(90deg)
        }
    }

}

.card-details-skeleton {
    & div[class="ant-skeleton-content"] {
        height: 100%;
        
        h3 {
            height: inherit !important;
        }
    }
}


@media screen and (width < 740px) {
    .income-expenditure-container {
        flex-wrap: wrap !important;
    }
    .income-card, .expenditure-card {
        max-width: 640px;
    }
}

@media screen and (width < 400px) {
    
    #dashboard-page {
        padding-inline: 4px !important;
    }
}