@use '@app_styles/colors' as colors;
@use '@app_styles/colors-alt' as colors-alt;
@use '@app_styles/breakpoints' as breakpoints;
@use '@app_styles/default-dimensions' as default-dimensions;

#header {
    position: sticky;
    top: 0;
    left: 0;

    // background-color: colors.$color-primary-light;
    // background-color: colors-alt.$light-bg-main;

    // background-image: linear-gradient(to bottom, colors-alt.$light-bg-main, transparent, 16px );
    
    // background: -webkit-linear-gradient(bottom,transparent,#fff 25%);

    // background-color: colors-alt.$light-bg-blue-secondary;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: default-dimensions.$header-height;
    /* max-height: 300px; */
    padding-inline: 40px;
    padding-block: 12px;

    z-index: 20;

    .header-left-container {

        height: 100%;

        display: flex;
        align-items: center;

        column-gap: 8px;

        .open-nav-drawer-button {display: none}

        .logo-main-container {
            height: 100%;
            min-width: fit-content;
    
            /* aspect-ratio: 2/1; */
            /* justify-self: left; */
            
        
            overflow: hidden;
        
            >img {
                height: 100%;
                object-fit: contain;
            }

            .logo-small {display: none;}
        }
    }

    
    .header-right-container {
        display: flex;
        align-items: center;
        justify-content: end;

        column-gap: 12px;

        flex-basis: 200px;
        height: 100%;

        .quick-actions-island-skeleton {
            display: flex;
            height: 90%;
            & h3 {
                height: 100%;
                background-color: var(--skeleton-white);
            }
        }
        .avatar-skeleton {
            display: flex;
            width: fit-content;
            > div {
                padding: 0 !important;
            }
            & span {
                background-color: var(--skeleton-white);
            }
        }
    }
}



/* -------------------- BREAKPOINTS ------------------ */

@media (max-width: breakpoints.$large-screen-min-width) {

    #header {
        
        padding-inline: 20px;

        .header-left-container {

            .open-nav-drawer-button {
                display: flex;
            }

            .logo-main-container {
                .logo-main {display: none;}
                .logo-small {display: inline-block}
            }
        }
    }
}