@use '@app_styles/default-dimensions' as default-dimensions;
@use '@app_styles/colors' as colors;
@use '@app_styles/colors-alt' as colors-alt;
@use '@app_styles/fonts' as fonts;



.main {

    position: relative;
    padding-inline-start: default-dimensions.$navigation-drawer-width-closed;

    .route-page {

        height: default-dimensions.$main-height;
        min-height: default-dimensions.$main-height;
        overflow: auto;
        
        scroll-behavior: smooth;

        display: flex;
        flex-direction: column;
        align-items: center;


        .page-contents-wrapper {

            width: 100%;
            max-width: default-dimensions.$route-page-content-wrapper-max-width;       
            
            display: flex;
            flex-direction: column;
            align-items: center;
        
            row-gap: 24px;
            padding-bottom: 24px;

            .page-title-bar {
                margin-top: default-dimensions.$route-page-header-margin-top !important;
    
                justify-content: space-between;
    
                .page-title {
                    font-size: fonts.$title-huge-size;
                    font-family: fonts.$stylised-font-family !important;
                    // font-weight: 600;
                }
            }

        }
        
    }
    .route-page::-webkit-scrollbar {
        // appearance: none;        
        background-color: transparent;
        width: 10px;        
    }
    .route-page::-webkit-scrollbar-thumb {
        background-color: colors-alt.$light-scrollbar-grey;
        opacity: 0.4;
        border-radius: 18px;
    }
    .route-page::-webkit-scrollbar-thumb:hover {
        background-color: colors-alt.$light-scrollbar-grey-hover;
    }
}