.transcations-card-wrapper {
    
    width: 100%;
    border-radius: 12px;

    padding: 8px;

    display: flex;
    justify-content: center;
    column-gap: 8px;

    .transactions-not-found {
        display: flex;
        align-items: center;
        margin-inline: auto;
        column-gap: 5px;

        width: 100%;
        margin-inline: 24px !important;

        .faux-error-code {
            height: 100px;
            display: flex;
            align-items: center;

            font-family: monospace !important;
            font-size: 50px;
            color: var(--color-primary) !important;
            padding: 0 !important;

            margin-left: 12px !important;
        }
        >p {
            font-size: 24px;
            padding: 10px 0;
            margin-right: 12px !important;
            font-family: monospace !important;
        }
    }
    .transactions-not-found::before, .transactions-not-found::after {
        content: '';
        height: 0;
        display: inline-flex;
        /* width: 100px; */
        min-width: 30px;
        flex-shrink: 2;
        align-self: center;
        flex: 1 !important;
        border: 1px solid var(--color-primary);
    }
}

