.quick-actions-island {
    height: 90%;

    background-color: var(--shadow-dark-accent);
    display: flex;
    align-items: center;

    column-gap: 8px;

    padding: 0 12px;

    border-radius: 24px;

    .quick-action-button-skeleton {

        display: flex;
        align-items: center;
        justify-content: center;

        width: 25px !important;
        height: 25px !important;
        min-width: 25px !important;
        aspect-ratio: 1 !important;

        >div {
            height: 100%;
            width: 100%;
        }

        & h3 {
            height: 100% !important;
            background-color: var(--skeleton-white) !important;
        }
    }
    .quick-action-button {
        border: none;
        background-color: #ffffffef;
        /* background-color: var(--accent-color); */
        > span {
            font-size: 18px;
        }
    }
}
